
@import "compass";
@import "compass/reset";

* {
	@include box-sizing(border-box);
}

@font-face {
	font-family: 'Chelsea Market';
	font-style: normal;
	font-weight: 400;
	src: url('../font/Chelsea Market.woff') format('woff');
}

html, body {
	font-family: helvetica, sans-serif;
	height: 100%;
	background: rgb(100,180,250);
}

h1 {
	font-size: 36px;
	margin: 25px 0;
	text-align: center;
}

#container {
	width: 400px;
	margin: 0 auto;
}

#playground {
	overflow: hidden;
}

.card {
	width: 100px;
	height: 100px;
	padding: 2px;
	float: left;

	img {
		width: 100%;
		max-width: 100px;
	}
}